<div *ngIf="iWorkForShipper" fxLayout="column" fxLayoutAlign="space-around start">
    <div fxFlex class="shipper-title">
        Shipper
    </div>
    <div fxFlex>
        <span><i class="fa fa-home" aria-hidden="true"></i> {{shipper.registeredName}}</span>
    </div>
</div>
<div *ngIf="!iWorkForShipper">
    <md-select (change)="onChange()" style="width: 30em" placeholder="Select Organization Which You Post This Job On Behalf"
        [(ngModel)]="shipper">
        <md-option *ngFor="let org of partnersAndThisOrgList" [value]="org">
            {{org.registeredName}}
            <span style="margin-left:1em" *ngIf="org._id === organizationIWork._id"> <i class="fa fa-home" aria-hidden="true"></i> </span>
        </md-option>
    </md-select>

    <div *ngIf="shipper" fxFlex="50" fxFlexOffset="5">
        <span>{{shipper?.tickerCode}}</span>
    </div>
</div>

<div *ngIf="shipper" fxLayoutAlign="begin">

    <div class="company-details">

        <div class="organization-details-text">
            <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start">
                <div fxLayout="row" fxFlex="33%">
                    <div class="labeltext">Company reg. No : </div>
                    <div class="valuetext">{{shipper?.registeredNumber}}</div>
                </div>
                <div fxLayout="row" fxFlex="33%">
                    <div class="labeltext">TIN no : </div>
                    <div class="valuetext">{{shipper?.tinNo}}</div>
                </div>
                <div fxLayout="row" fxFlex="33%">
                    <div class="labeltext">VAT no : </div>
                    <div class="valuetext">{{shipper?.vatNo}}</div>
                </div>
            </div>
            <br>
            <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start">
                <div fxLayout="row">
                    <div class="labeltext">Address : </div>
                    <div class="valuetext">{{shipper?.registeredAddress}}</div>
                </div>
            </div>
        </div>
    </div>