.company-details {
    margin-top: 1em;
    width: 100%;
    height: 60%;
    border-radius: 2.2px;
    background-color: #f1f1f1;
}

.organization-details-text {
    margin: 1.5em 1.5em 1.5em 1.5em;
    font-family: Roboto;
    font-size: 15px;
    text-align: left;
    color: #575757;
}

.organization-details-text .labeltext {
    font-weight: 500;
}

.organization-details-text .valuetext {
    margin-left: 1em; 
    font-weight: 300;
}
